//
// Fixed
//

.m-tlist {
    display: none;
}
.m-tophead:hover {
    > .m-tlist {
        display: block;
    }
}

.m-subnav {
    position: relative;
    z-index: 1;
}
.m-subnav-up {
    margin-top: 0 !important;
}

.n-bilst .blk:last-child {
    width: 228px;
}

.g-sd3 {
    position: static !important;
}

.n-cmt {
    margin-top: 40px;
}

.m-table tbody > tr:nth-child(odd) td {
    background-color: #f7f7f7;
}

.n-minelst li.mine > a {
    display: block;
    overflow: hidden;
}