//
// helper
//
.f-fl {
    float: left;
}

.f-fr {
    float: right;
}

.f-tid {
    text-indent: -9999px;
}

.f-cb:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
}

.f-pr {
    position: relative;
}


.f-mgt10 {
    margin-top: 10px;
}
.f-mgb10 {
    margin-bottom: 10px;
}
.f-mgt20 {
    margin-top: 20px;
}
.f-mgb20 {
    margin-bottom: 20px;
}


.hd {
    font-size: 22px;
    height: 66px;
    line-height: 66px;
    text-align: center;
}


.g-bd,
.g-bd1,
.g-bd2,
.g-bd3,
.g-bd4,
.g-bd5,
.g-bd6,
.g-bd7 {
    width: 980px;
    min-height: 700px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    border-width: 0 1px;
}

.f-tdn,
.f-tdn:hover {
    text-decoration: none;
}

.f-thide {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

.s-fc0,
a.s-fc0:hover {
    color: #000;
}
.s-fc4,
a.s-fc4:hover {
    color: #999;
}
.s-fc3,
a.s-fc3:hover {
    color: #666;
}


.u-txt {
    height: 19px;
    margin: 0;
    padding: 5px 6px 6px;
    border: 1px solid #cdcdcd;
    border-radius: 2px;
    line-height: 19px;
}
.u-err {
    height: 17px;
    margin-top: 5px;
    line-height: 17px;
    color: #e33232;
}


// 
// 专辑
//
.u-cover .bottom,
.u-cover .msk,
.n-musicsd .lst .avatar .msk {
    background: url(./assets/img/coverall.png) no-repeat;
}

.u-cover .ply,
.u-cover .icon-headset,
.u-cover .icon-play,
.u-face .msk,
.n-note .head .msk,
.icn-vip,
.icn-daren,
.u-checkbox {
    background: url(./assets/img/iconall.png) no-repeat;
}

.u-cover-0 .icon-play,
.u-cover-alb1 .icon-play,
.u-cover-10 .icon-play,
.u-cover-11 .icon-play,
.u-cover-12 .icon-play {
    left: 72px;
    width: 22px;
    height: 22px;
    background-position: 0 -85px;
}

.u-icn,
.u-title-1 .out .icon {
    background: url(./assets/img/icon.png) no-repeat 0 9999px;
}
.u-icn,
.u-icn2,
.u-icn3 {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
}
.u-icn-81 {
    width: 13px;
    height: 13px;
    background-position: 0 -700px;
    &:hover {
        background-position: -22px -700px;
    }
}
.u-icn-68 {
    width: 12px;
    height: 12px;
    background: url(./assets/img/dot2.png) no-repeat;
}

.u-cover {
    position: relative;
    display: block;
    img {
        display: block;
        width: 100%;
        height: 100%;
    }
    .msk {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 27px;
        background-position: 0 -537px;
        color: #ccc;
    }
    .icon-headset,
    .icon-play {
        display: inline-block;
    }
    .icon-play {
        position: absolute;
        right: 10px;
        bottom: 5px;
        width: 16px;
        height: 17px;
        background-position: 0 0;
        &:hover {
            background-position: 0 -60px;
        }
    }
    .icon-headset {
        float: left;
        width: 14px;
        height: 11px;
        background-position: 0 -24px;
        margin: 9px 5px 9px 10px;
    }
    .nb {
        float: left;
        margin: 7px 0 0 0;
    }
}
.u-cover-alb1 {
    width: 100px;
    height: 100px;
    .msk {
        width: 118px;
        height: 100px;
        background-position: 0 -570px;
    }
}
.u-cover-1 {
    width: 140px;
    height: 140px;
}
.u-cover-4 {
    width: 80px;
    height: 80px;
    .msk {
        background-position: -145px -57px;
    }
}

.u-cover-alb1 .icon-play,
.u-cover-alb2 .icon-play,
.u-cover-alb3 .icon-play {
    display: none;
}
.u-cover-alb1:hover .icon-play,
.u-cover-alb2:hover .icon-play,
.u-cover-alb3:hover .icon-play {
    display: block;
}







.u-icn,
.u-icn2,
.u-icn3 {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
}
.u-icn2 {
    background: url(./assets/img/icon2.png) no-repeat 0 9999px;
}
.u-lv {
    display: inline-block;
    height: 17px;
    overflow: hidden;
    padding-left: 25px;
    line-height: 18px;
    color: #999;
    font-weight: bold;
    font-style: italic;
    i {
        float: right;
    }
    &:hover {
        background-position: -130px -84px;
        color: #777;
        text-decoration: none;
    }
}
.u-icn2-lv {
    background-position: -130px -64px;
}
.u-icn2-lvright {
    width: 8px;
    height: 17px;
    background-position: -192px -64px;
}




.u-btn2, .u-btn2 i {
    display: inline-block;
    height: 31px;
    line-height: 31px;
    overflow: hidden;
    vertical-align: top;
    text-align: center;
    cursor: pointer;
}
.u-btn2,
.u-btn2 i,
.u-btn2 .icn,
.u-btni,
.u-btni i,
.u-tag,
.u-tag i, 
.u-btni-addply .ply {
    background: url(./assets/img/button2.png) no-repeat 0 9999px;
}
.u-btn2,
.u-btn2 i {
    display: inline-block;
    height: 31px;
    line-height: 31px;
    overflow: hidden;
    vertical-align: top;
    text-align: center;
    cursor: pointer;
}
.u-btn2-2 {
    color: #fff;
    background-position: right -428px;
    i {
        color: #fff;
        background-position: 0 -387px;
    }
    &:hover {
        color: #fff;
        background-position: right -510px;
        i {
            color: #fff;
            background-position: 0 -469px;
        }
    }
}
.u-btn2,
.u-btn2:hover {
    text-decoration: none;
}
.u-btn2 {
    padding: 0 5px 0 0;
    white-space: nowrap;
    i {
        padding: 0 15px 0 20px;
        pointer-events: none;
    }
}


.u-date,
.u-date .mask {
    background: url(./assets/img/date.png) no-repeat 0 9999px;
}
.u-date {
    position: relative;
    zoom: 1;
    display: block;
    width: 140px;
    height: 140px;
    background-position: 0 0;

    &:hover {
        text-decoration: none;
    }

    .head {
        display: block;
        height: 33px;
        line-height: 33px;
        color: #fed9d9;
        font-size: 14px;
        text-shadow: 0 -1px #962626;
        text-align: center;
    }
    .bd {
        display: block;
        line-height: 102px;
        text-align: center;
        font-size: 94px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: #202020;
    }
    .mask {
        position: absolute;
        top: 33px;
        left: 0;
        width: 142px;
        height: 107px;
        background-position: 0 -150px;
    }
}